<!DOCTYPE html> 

<html lang="en"> 

<head> 

    <title>M.R.S.  Password Generator  </title> 

	<link href= "/public/assets/css/styles.css" rel="stylesheet" type="text/css" /> 

</head> 

<body> 

<h1>Welcome To M.R.S. Password Generator</h1> 
  

</body> 
		
</html> 