<!DOCTYPE html> 

<html lang="en"> 

<head> 

    <title>MRS PASSWORD GENERATOR </title> 

	<link href= "/public/assets/css/styles.css" rel="stylesheet" type="text/css" /> 

</head> 

<body> 

<img src="password.jpg" style="width:128px;height:128px;">
<h1>Welcome To M.R.S. Password Generator</h1> 
<p>Use our online password generator to instantly create a secure, random password.</p>

<div> 

<form action="" method="POST"> 
	<div class ="form-group1"> 
	<table style="width:100%" >
	<tr>
		<td colspan=2> 
			 <label for="minLen">Min Length of Password</label>
			 <input name="minLen" value=<%=result.configuration.minLen%> size="8" required></input>
		</td>
		<td colspan=2> 
			<label for="maxLen">Max Length of Password</label> 
			<input name="maxLen" value = <%=result.configuration.maxLen%> size="8" required> </input>
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name = "withNumeric" <%=result.configuration.withNumeric?"checked":""%> >with Numeric</input>
		</td>
		<td>
			<input type="checkbox" name = "withSymbols" <%=result.configuration.withSymbols?"checked":""%> > with Symbols</input>
		</td>
		<td>
			<input type="checkbox" name="withUpperAlphabit" <%=result.configuration.withUpperAlphabit?"checked":""%> > With Upper Alphabit </input>
		</td>
		<td>
			<input type="checkbox" name="withLowerAlphabit" <%=result.configuration.withLowerAlphabit?"checked":""%>> With Lower Alphabit </input>
		</td>
	</tr>
	<tr>
		<td colspan = "4">
			<button type="submit" class="btn btn-primary">create</button> 
			<br>
			<font color="red"><%=result.errmsg%></font>
		</td>
	</tr>
	</table>
	</div> 
</form> 
</div> 



 <footer> Created and tested by Steven Lei, Maribeth Bondoc Estimos and Richard (Xian)Zhang <br>
          Copyright 1978-2022. All Rights Reserved.</footer> 


</body> 
		
</html> 