<html>
<head>
<title>password Generator</title>
</head>
<body>
<h1>Hello Richard</h1>
<form action="" method = "post">
<input name="test"></input>
<input type="submit" value="adfasffafa">test</input>
</form>
</body>
</html>